@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

.right-text {
  font-family: "libre-franklin", sans-serif;
  color: #273043;
  font-size: 1.5rem;
  text-decoration: none;
}

#hello-text {
  font-family: "gate-a1-variable", sans-serif;
  /* color: #273043; */
  color: white;
  font-size: 4rem;
}

#name-text {
  font-family: "gate-a1-variable", sans-serif;
  color: #e63462;
  font-size: 5rem;
}

#title {
  font-family: "ofelia-display", sans-serif;
  font-weight: 200;
  letter-spacing: 3.5px;
  color: #273043;
  font-size: 1.4rem;
}

.dynamic-txts li {
  font-family: "ofelia-display", sans-serif;
  font-weight: 200;
  letter-spacing: 3.5px;
  color: #273043;
  font-size: 1.2rem;
  color: #e63462;
  font-weight: bold;
}

.nav_bar_text {
  font-size: 14px;
  font-weight: 800;
  font-family: "libre-franklin";
}

/* ABOUT PAGE */

.headers {
  font-family: "gate-a1-variable", sans-serif;
  color: #e63462;
  font-size: 4.5rem;
  font-weight: bold;
  letter-spacing: 5px;
}

.description-text {
  font-family: "gate-a1-variable", sans-serif;
  color: #273043;
  font-size: 2rem;
  font-weight: bold;
}

.sub-text {
  font-family: "gate-a1-variable", sans-serif;
  color: #273043;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
}

.info-item p {
  color: #273043;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "niveau-grotesk", sans-serif;
  margin-bottom: 1%;
  margin-left: 5%;
}

.info-item span {
  color: #273043;
  font-size: 1.3rem;
  font-weight: 100;
  font-family: "niveau-grotesk", sans-serif;
  margin-left: 5%;
}

.works_title {
  font-size: 200px;
  color: white;
  line-height: 175px;
  font-family: "Manrope", sans-serif;
}

.works_subheading {
  font-weight: 300;
  color: white;
  font-size: 40px;
  font-family: "Manrope", sans-serif;
  margin-top: 10%;
}
