@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");

* {
  margin: 0;
  padding: 0;
}

body {
  cursor: crosshair;
  background-color: #0a1930;
  height: 200vh;
  overflow-x: hidden;

  scrollbar-width: none;
}

/* INTRO */
header {
  /* background: #6ca6f1; */
  margin-bottom: 7.5%;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
  font-weight: 800;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #e63462;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.heading_box {
  width: 80%;
  margin: 0 auto;
}

/*UTILITIES */

.center {
  width: 80%;
}

/* MAIN BODY */
@keyframes myAnimation {
  0% {
    transform: rotateX(90deg);
    transform-style: preserve-3d;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    opacity: 1;
  }
}

/* Apply the animation to an element */
.flipped-element {
  animation: myAnimation 1s ease-in-out;
}

.hero_text {
  display: flex;
  align-items: center;
  justify-content: center;
}
